* {
    font-family: sans-serif;
    box-sizing: border-box;
    user-select: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.Link_list {
    display: flex;
    gap: 15px;
}

:root {
  
} 

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 400px; 
    padding: 30px;
    border-radius: 10px;
    border: solid 1.5px gainsboro;
}

.conteiner {
    display: flex; 
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
